html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    width: 1920px;
    background: rgba(245, 245, 247, 1);    
}
header {
    text-align: center;
 }
 
 .contacts {
    display: inline-block;
    width: 1240px;
    height: 70px;
    align-content: center;
    margin-left: 50px;
 }



.contacts ol, li, a {
    text-decoration: none;
    display: inline;
    color: black;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1px;

}
.contacts li {
    margin-right: 10px;
}

#techblog {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 15px;
    margin-left: -260px;
    margin-right: 83px;
    text-align: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    font-family: Inter;
    letter-spacing: 2px;
    color: rgba(91, 71, 209, 1);
    width: 152px;
    height: 50px;
    background: rgba(240, 237, 255, 1);
}

.banner {
    display: block;
    height: 400px;
    background-image: url("Rectangle\ 7.png");
    align-content: center;
}

.banner h1 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 37px;
    margin-bottom: 7px;
    margin-left: 40px;
}

.banner p {
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.5px;
    color:rgba(255, 255, 255, 1);
    margin-left: -10px;
    padding-bottom: 10px;
}
main {
    height: 1200px;
}

.last_news {
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.section_top, .section_bottom{
    height: 472px;
    width: 1920px;
    text-align: center;
}

.section_top {
    margin-bottom: 30px;
}

.card {
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    width: 360px;
    height: 465px;
    vertical-align: top;
    margin: 0px 15px;
    text-align: left;
}

.box {
    width: 360px;
    height: 240px;
    margin-bottom: 15px;
}

.paint_1 {
    background-color: rgba(199, 184, 255, 1);
}

.paint_2 {
    background-color: rgba(255, 184, 216, 1);
}

.paint_3 {
    background-color: rgba(184, 224, 255, 1);
}

.paint_4 {
    background-color: rgba(212, 255, 184, 1);
}

.paint_5 {
    background-color: rgba(255, 228, 184, 1);
}

.paint_6 {
    background-color: rgba(255, 212, 184, 1);
}

.card span {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0 9px 15px 19px;
}

.card h3 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 19px;
    margin-bottom: 6px;

}

.card p {
    font-family: inte;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 19px;
}

footer {
    width: 100%;
    height: 340px;
    background-color: rgba(37, 36, 36, 1);
    text-align: center;
}
.footer-conteiner {
    display: inline-block;
    width: 1240px;
    text-align: left;
}
.conteiner_TechBlog_contacts {
    display: inline-block;
    width: 300px;
    height: 340px;
    margin-left: 60px;
    font-family: Inter;
    align-content: center;
}

.conteiner-techBlog {
    margin-bottom: 40px;
    width: 300px;
    h3 {
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        margin-bottom: 15px;
    }
    p {
        color: rgba(161, 161, 166, 1);
        font-size: 14px;   
    }
}

.conteiner-contacts {
    display: inline-block;
    h3 {
        display: inline-block;
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        margin-bottom: 15px;
    }
    a {
        display: inline-block;
        color: rgba(161, 161, 166, 1);
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.conteiner-category {
    margin-left: 80px;
    height: 100%;
    width: 200px;
    display: inline-block;
    font-family: Inter;
    vertical-align: 110px;
    h3 {
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        margin-bottom: 15px;
    }
    h2 {
        color: rgba(161, 161, 166, 1);
        margin-bottom: 10px;
    }
}

.footer_black_block {
    font-family: Inter;
    display: inline-block;
    background-color: rgba(2, 2, 2, 1);
    color: rgba(134, 134, 139, 1);
    width: 100%;
    height: 55px;
    align-content: center;
    h2 {
        display: inline-block;
        padding-right: 60px;
    }
}